*{
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body{
    margin: 0;
    font-family: "Open sans", "Montserrat", sans-serif;
    background-color: rgb(240, 240, 240);
    height: 100%;
}

a{
    color: black;
    word-wrap: break-word;
}

hr{
    height: 2px;
    border: 0;
    background-color: grey;
    margin: 0.5em 0;
}

textarea{
    resize: vertical;
    font-family: inherit;
    font-size: 0.8em;
    width: 100%;
}

h1>a {
    text-decoration: none;
}

input[type=color] {
	padding: 5px;
	margin: 0;
	border: 1px solid grey;
    border-radius: 4px;
	background: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

input[type=color]:hover {
    background: rgb(223, 223, 223);
    transition: .3s;
}

button a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/
.site-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px 13px black;
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.site-header ul{
    list-style: none;
    padding: 0;
    margin: 0 0;
}

.site-header a{
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    text-align: center;
}

.site-header a:hover{
    color: rgb(255, 255, 255);
}

.site-user,
.site-nav{
    display: flex;
    /*width: 1000px;*/
}

.site-user{
    flex-direction: row-reverse;
    width: 200px;
    margin: 0;
}

.site-nav{
    width: 1000px;
}

.site-user li,
.site-nav li {
    width: 150px;
}

.dropdown{
    position: relative;
}

ul.dropdown-content{
    display: none;
    padding: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.774);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
}

ul.dropdown-content a:hover{
    background-color: black;
}

ul.dropdown-content a{
    padding: 10px 0;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*MAIN*/
.container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 1em;
	margin-bottom: 40px;
}

.reverse{
    flex-direction: row-reverse;
}

.container-content{
    margin: 0 1em;
}

/*Chat*/
.login-form {
    width: 100%;
    box-shadow: lightgray 2px 2px 2px 0;
}

.login-form h3 {
    margin: 0;
}

.login-form div{
    margin: 1em 0;
}

.login-form input {
    width: 100%;
    display: block;
}

.char-counter {
    font-weight: bold;
    font-size: 0.8em;
}

.chat-header {
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
}

.chat-aside {
    overflow-y: hidden;
    width: 200px;
    padding: 0 1em;
    flex: none;
    color: white;
    background-color: black;
    height: 100%;
}

.chat-aside h1{
    margin: 0;
}

.chat-aside ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.chat-aside ul li img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}

.chat-aside ul li{
    line-height: 20px;
    margin: 8px 0;
    color: white;
}

.chat-aside ul li a {
    color: white;
}

.chat {
    border-radius: 5px;
    display: block;
    overflow: hidden;
    background-color: white;

    width: 80%;
    margin: 0 auto;
}

.chat-main {
    display: flex;
    height: 400px;
    resize: vertical;
    overflow: auto;
}

.messages-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.messages {
    overflow-y: scroll;
    scrollbar-width: none;
    height: auto;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
}

.message img {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.message-content {
	margin-left: 1em;
}	

.message-form {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.message-form input {
    width: 100%;
    margin-right: 5px;
}

.message-form button {
    flex: none;
}

.message-infos a {
	color: rgb(100, 100, 100);
    text-decoration: none;
    line-height: 20px;
}

.date {
	font-size: 0.8em;
	color: grey;
}

.since-date {
    color: rgba(255, 255, 255, 0.801);
    font-size: 0.8em;
    display: block;
}

/*Feed*/
.feed{
    margin: 1em 0;
}

.container-main{
    display: flex;
}

.container-header{
    margin: 1em 0;
}

.container-content{
    margin-left: 1em;
    width: 100%;
}

.container-aside{
    width: 200px;
    flex: none;
}

.container-aside a{
    text-decoration: none;
}

.container-aside h1{
    margin: 5px;
}

.container-aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-aside ul li{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 2px 5px;
    margin: 2px 0;
    border-radius: 3px;
}

.container-aside ul li.selected,
.container-aside ul li:hover{
    background-color: white;
    border: 1px solid grey;
}

.post{
    background-color: white;    
    border: solid 1px grey;
    height:100px;
    border-radius: 3px;
    margin-bottom: 1em;
    height: auto;
}

.post-header{
    display: flex;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.144);
    border-bottom: 1px solid grey;
}

.post-header img{
    width: 30px;
    height: 30px;
}

.post-infos{
    margin: 0 1em;
}

.post-title{
    margin: 0;
    font-size: 1.3em;
}

.post-subtitle{
    font-size: 0.9em;
}

.post-content{
    padding: 0.5em 1em;
}

.post-file{
    width: 100%;
}

.posts-feed {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

/*PREVIEW*/
.post-preview img{
    max-height: 300px;
    max-width: 200px;
    margin-right: 1em;
    object-fit: scale-down;
}

.post-preview{
    display: flex;
    margin: 10px;
}

.post-preview-content {
    text-decoration: none;
    font-size: 1.2em;
    max-width: 356px;
}

/*SEARCH BAR*/

.search-bar{
    margin-left: auto;
    display: flex;
    margin-bottom: 1em;
}

.search-bar input{
    width: 100%;
}

.search-bar button{
    flex: none;
    margin-left: 1em;
}

/*MODALE*/

.modal-window {
    position: absolute;
    margin: 30px auto;
    left: 0;
    right: 0;
    width: 500px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);
}

.modal-head {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.modal-head img {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.grant-list {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.modal-window h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.grant-infos {
    width: 300px;
    flex: none;
    margin-top: 10px;
}

.grant-infos img{
    width: 40px;
    height: 40px;
    float:left;
    margin-right: 5px;
}

.grant-card {
    display: flex;
    justify-content: space-between;
}

.grantcard-infos {
    font-size: 0.8em;
}

.grantcard-username {
    display: block;
}

.grant-buttons {
    line-height: 40px;
    margin-right: 1em;
}

/*Buttons*/

.edit-button {
    padding: 0 5px;
    background: white;
    color: black;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}

.edit-button:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: .3s;
}

.button{
    border-radius: 3px;
    min-width: 50px;
    min-height: 30px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
}

.norm{
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px rgb(112, 112, 112);
    color: rgb(112, 112, 112);
}

.button.norm:hover{
    background-color: rgb(112, 112, 112);
    border: solid 1px rgb(112, 112, 112);
    color: white;
    transition: .5s;
}

.col2 {
    background-color: rgb(180, 225, 255);
    border: solid 1px rgb(180, 225, 255);
    color: white;
}

.button.col2:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(180, 225, 255);
    transition: .5s;
}

.col1 {
    background-color: rgb(93, 190, 255);
    border: solid 1px rgb(93, 190, 255);
    color: white;
}

.button.col1:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(93, 190, 255);
    transition: .5s;
}

.col3 {
    background-color: rgb(255, 93, 93);
    border: solid 1px rgb(255, 93, 93);
    color: white;
}

.button.col3:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 93, 93);
    transition: .5s;
}

.col4 {
    background-color: rgb(99, 168, 54);
    border: solid 1px rgb(99, 168, 54);
    color: white;
}

.button.col4:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(99, 168, 54);
    transition: .5s;
}
/*confirmation-message*/

.aside-confirmation {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
}

.aside-confirmation button{
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
}

.aside-confirmation button:hover{
    background-color: rgb(204, 204, 204);
    transition: .3s;
}

.aside-confirmation textarea {
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid grey;
}

/*Forms*/

.vote-form {
    width: 50px;
    display: flex;
    margin-left: auto;
}

.vote-form * {
    width: 50%;
}

.vote-value {
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.vote-value.up{
    color: green
}

.vote-value.down{
    color: red
}

.vote-form button {
    width: 100%;
    background-color: white;
    border: 0;
    border-radius: 3px;
    border: 1px solid white;
}

.vote-up {
    color: green;
    cursor: pointer;
    margin-bottom: 3px;
}

.vote-up:hover {
    border: 1px green solid;
}

.vote-down {
    cursor: pointer;
    color: red;
}

.vote-down:hover {
    border: 1px red solid;
}

.edit-form *{
    width: 100%;
    margin-bottom: 1em;
}

.edit-form input[type=checkbox] {
    width: auto;
}

.confirmation-button {
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1em;
}

.confirmation-button:hover {
    background-color: rgb(204, 204, 204);
    transition: .3s;
}

.confirmation-button.extended {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.input.t1{
    padding: 6px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
}

.input.t1:focus{
    box-shadow: 0 0 3px rgba(122, 122, 122, 0.5);
    transition: .1s;
}

.input.t2{
    padding: 6px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 2px solid grey;
    border-radius: 1px;
}

.input.t2:focus{
    border-color: rgb(93, 190, 255);
    transition: .3s;
}

button.submit {
    width: 100%;
}

.select-input {
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 0 2em;
    height: 30px;
}

.login-head {
    background-color: rgba(0, 0, 0, 0.144);
    font-size: 1.1em;
    text-align: center;
    border: 1px solid grey;
    border-radius: 4px 4px 0 0;
    box-shadow: lightgray 2px 2px 2px 0;
}

.form-container {
    width: 500px;
    margin: 0 auto;
}

.chat-create-form {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 1em;
}

.login-form {
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 0 0 4px 4px;
}

.chat-create-form,
.login-head,
.login-form {
    padding: 10px;
}

.chat-create-form input,
.login-form input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.chat-create-form input[type=checkbox],
.login-form input[type=checkbox] {
    width: auto;
    display: inline-block;
}

button.toggle-password{
    display: inline;
    border-radius: 4px;
    background-color: rgb(196, 196, 196);
    border: 0;
    color: white;
    cursor: pointer;
}

.log-message.red{
    border: 1px rgb(255, 91, 91) solid;
    border-radius: 4px;
    background: rgb(255, 195, 195);
    color: white;
    margin: 1em 0;
    padding: 1em;
}

.log-message.green{
    border: 1px rgb(21, 191, 0) solid;
    border-radius: 4px;
    background: rgb(184, 232, 175);
    color: #66a461;
    margin: 1em 0;
    padding: 1em;
}

.form-container.upload {
    width: 80%;
}

/*PROFIL*/

div.color-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 1em auto;
}

div.color-container input {
    width: 40px;
    height: 40px;
}

div.mini-profile {
    background: white;
    width: 400px;
    margin: 1em auto;
    overflow: hidden;
    border-radius: 4px;
}

.mini-profile-header {
    padding: 5px;
    color: white;
    background: black;
    height: 60px;
}

.mini-profile-header img{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

div.mini-profile-rect {
    height: 100px;
    border: 1px solid grey;
    border-top: 20px solid black;
    border-radius: 3px;
    width: 100%;
    margin: 5px;
}

.mini-profile-prt1 {
    display: flex;
    justify-content: space-around;
}

.mini-profile-posts {
    display: flex;
    justify-content: space-around;
}

.profil-container{
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0));
    overflow: hidden;
}

.profil-head{
    width: 100%;
    height: 250px;
    color: white;
    background-color: black;
}

.profil-head img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 1em;
	border: 3px white dashed;
}

.profil-head h1{
    padding: 1rem;
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

/*Content*/
.profil-content{
    padding: 1rem;
}

.user-friends,
.user-bio,
.user-posts{
    overflow: hidden;
    border-radius: 4px;
}

.chat-card,
.user-card,
.friend-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 500px;
    margin: 1em auto;
}

.chat-card {
    padding: 10px;
}

.chatcard-infos,
.usercard-infos *,
.friendcard-infos * {
    display: block;
}

.user-card img,
.friend-card img{
    margin: 10px 10px 10px 0;
    width: 40px;
    height: 40px;
}

.friend-card button{
    margin-left: 1em;
}

.user-card {
    justify-content: left;
}

.friend-section_container {
    margin-top: 1em;
}

.chat-card h3{
    margin: 0;
}

.chat-card a{
    text-decoration: none;
}

/*PRT1*/

.part1{
    display: flex;
    margin-bottom: 1em;
}

.user-bio{
    width: 100%;
}

.user-friends{
    width: 200px;
    flex: none;
}

.userfriend-head,
.userbio-head,
.userpost-head{
    padding: 5px;
    background-color: black;
    color: white;
}

.userpost-content,
.userbio-content,
.userfriend-content{
    /*border: 1px black solid;
    border-radius: 4px;*/
    overflow-wrap: break-word;
    background: white;
}

/*Bio & friends*/
.userfriend-content{
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 400px;
}

.userbio-content{
    padding: 5px;
    height: 400px;
}

.user-bio{
    margin-right: 1em;
}

/*Friends*/
.friend-list {
    margin: 0 auto;
    width: 500px;
}

.friend-menu {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    border-radius: 4px;
    height: 40px;
}

.friend-menu .friend-link {
    text-align: center;
    line-height: 40px;
    width: 33%;
    cursor: pointer;
}

.friend-menu .friend-link:hover {
    background-color: rgb(58, 58, 58);
    transition: .3s;
}

.friend-link::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    transform: translateY(-7px);
}

.friend-link#selected::after {
    content: "";
    width: 80%;
    transform: translateY(-7px);
    transition: .3s;
}

.friends-list {
    width: 600px;
    margin: 0 auto;
}

.friend{
    padding: 5px;
    margin-bottom: 5px;
}

.friend img{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.friend a{
    margin-left: 5px;
    display: block;
}

.friend-date {
    font-size: 0.8em;
}

/*Posts*/
.userpost-content{
    overflow-y: scroll;
    height: 500px;
    padding: 5px;
    /*scrollbar-width: none;*/
}

.user-posts .page-controller{
    padding: 5px;
    background-color: white;
}

/*
.userpost-content::-webkit-scrollbar {
    display: none;
}*/

/*POST*/
.slider-content {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider video{
    max-height: 400px;
}

.slider-controller {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.slider-controller button{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.slider-controller button:hover{
    background-color: grey;
    transition: .3s;
}

.post-buttons button{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

textarea.edit-comment {
    border: 0;
}

.comment-form{
    margin: 1em 0;
    width: 100%;
}

.comment-form *{
    display: block;
    width: 100%;
    margin: 1em 0;
    margin-right: auto;
}

.comment-form button {
    width: auto;
}

.comment{
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 1em;
}

.comment-header{
    padding: 10px;
    border-bottom: solid 1px grey;
    background-color: rgba(0, 0, 0, 0.144);
}

.comment-header img {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.comment-content{
    padding: 10px;
}

.page-controller button{
    width: 180px;
    margin: 0 1em;
}

.page-controller{
    display: flex;
    justify-content: space-between;
}
/*Redirection*/

.redirection {
	width: 500px;
	margin: 0 auto;
}

.redirection-link {
	text-align: center;
	display: block;
	line-height: 50px;
	width: 100%;
	height: 50px;
	background-color: white;
	margin: 1em 0;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 4px;
	border: 1px solid grey;
}

/*Erreur*/
.error *{
	display: block;
}

.error h1{
	margin: 10px 0;
	font-size: 2.2em;
}

.error h3{
	color: #262626;
}

.error p{
	color: #4d4d4d;
}

/*MEDIA QUERYS*/
@media only screen and (max-width: 1100px){
    .post {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .posts-feed {
        grid-template-columns: 100%;
    }

    .header-container{
        width: 100%;
    }
    .container{
        width: 90%;
    }
}

@media only screen and (max-width: 720px){
    .container{
        width: 100%;
        display: block;
    }

    aside.container-aside{
        width: auto;
        height: auto;
        margin: 1em;
    }

    .container-content{
        margin: 1em;
        width: auto;
    }
}

@media only screen and (max-width: 600px){
    .site-nav,
    .site-user,
    .header-container{
        display: inline;
    }

    .redirection {
        width: 90%;
        margin: 1em;
    }

    .site-header ul li{
        float: left;
        width: auto;
    }

    .part1 {
        display: block;
    }

    .user-bio,
    .user-friends {
        margin: 1em 0;
        width: 100%;
        height: 200px;
    }

    div.mini-profile,
    div.color-container,
    .confirmation-button.extended {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .chat-main {
        display: block;
    }

    .chat-aside {
        display: none;
    }
}

@media only screen and (max-height: 450px) {
    .chat-main {
        height: 300px;
    }
}